/* CSS */
.button {
    transform: translateY(-200%);
    /*background-color: #EA4C89;*/
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    /*color: #FFFFFF;*/
    cursor: pointer;
    /*display: inline-block;*/
    /*font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 20px;*/
    /*font-weight: 500;*/
    /*height: 40px;*/
    /*line-height: 20px;*/
    /*list-style: none;*/
    margin: 0;
    /*width: 100px;*/
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;

}
body
{

    font-family: arial;
    align-items: center;
    justify-content: center;
}

/* Sets the background image for the wheel */
.arrow{
    position: relative;
    width: 35px;
    height: 55px;
    align-items:center;
    justify-content: center;
    display: flex;
    transform: translateY(+113%);
    color:#000;
}


body{
    margin:0;
    padding:0;
    background-color: #9ed3e7;
    display:flex;
    top:-10%;
    transform: translateY(11px);
    align-items:center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;

}
.h11{
    transform: translateY(+200%);
    font-size:25px;
}


div.html5_logo
{
    margin-left:70px;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}